* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  height: 100%;
  max-height: 100%;
}
.container {
  height: calc(100%-100vh);
  width: 100%;
  max-width: 100%;
  /* overflow: hidden; */
}

/*styling Burger*/

div .beg {
  width: 30px;
  height: 5px;
  background-color: black;
  border: 1px solid black;
  margin-top: 3px;
}

.burger {
  display: none;
}

/*styling navigation bar*/
.header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 100px;
}

.logo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.logo span {
  color: rgb(162, 49, 49);
  font-size: 60px;
}

.logo {
  margin-right: 100px;
}

/*styling the main content*/

.main {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  /* gap: 50%; */
  /* width: 50%; */
  margin: auto 0;
  margin-top: 50px;
  height: 80vh;
  padding: 50px;
  /* overflow-y: hidden; */
}

.pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  height: 100vh;
  position: absolute;
  margin-left: 50px;
  margin-bottom: 0;
}

.stylishBackImage {
  width: 700px;
  height: 100vh;
  background-color: rgb(162, 49, 49);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  position: absolute;
  /* transform: scaleX(0);
  transform-origin: left; */
  z-index: -1;
  margin-bottom: 0;
  margin-left: 50px;
}

/* .pic #back {
  z-index: -1;
} */

.hireButton {
  font-size: ;
  border: 1px solid rgb(162, 49, 49);
  padding: 10px 60px;
  border-radius: 25px;
  background-color: rgb(162, 49, 49);
  color: #fff;
  margin-top: 80px;
}

.hireButton:hover {
  background-color: rgb(216, 110, 110);
  border: 1px solid rgb(216, 110, 110);
  color: #fff;
}
.hireButton:focus {
  transform: scale(0.98);
}
.hireButton:active {
  transform: scale(0.9);
}

/*nameText class styling*/
.nameText {
  margin-left: 30%;
  white-space: nowrap;
}

.one span {
  display: inline-block;
  color: rgb(162, 49, 49);
  margin-bottom: 0;
}

.nameText h1 {
  margin-bottom: 0;
  font-size: 60px;
}

.hidden {
  display: none;
}

.two {
  color: rgb(52, 49, 49);
}

.nameText p {
  margin-top: 0;
  color: rgb(34, 33, 33);
}

.nameText .two {
  margin-top: 0;
}

.nameText .one {
  margin-bottom: 0;
}

.icons {
  display: flex;
  cursor: pointer;
}

.icons .great {
  padding-right: 20px;
  color: brown;
}

div .program {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-weight: 100px;
  text-transform: capitalize;
  padding: 5px;
  color: rgb(162, 49, 49);
}
.icons .great:hover {
  color: rgb(216, 110, 110);
}
div .program:hover {
  color: rgb(216, 110, 110);
}

/*.second-container{
    height: 100vh;
    background-color: lightcyan;
    margin-top: 0;
}*/

.content {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.navMenu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.navOrder li {
  padding: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  cursor: pointer;
}

.navOrder li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navOrder li a:hover {
  color: rgb(216, 110, 110);
}

.navOrder li a:active {
  transform: scale(0.8);
}
.projects {
  text-align: center;
  font-size: 30px;
  /* color: rgb(162, 49, 49); */
}
.listedProjects {
  display: flex;
  justify-content: center;
}
.listedProjects img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: rgb(216, 110, 110);
}

/* mobile and smaller screens */

@media only screen and (max-width: 600px) {
  body {
    overflow-y: hidden;
  }

  .navMenu ul {
    display: none;
  }

  .main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 0;
  }
  .nameText {
    margin-left: 0;
  }

  .nameText h1 {
    margin-bottom: 0;
    font-size: 35px;
  }
  .nameText p {
    font-size: 11px;
    margin-left: 10;
    color: #ebe9e9;
  }
  .pic {
    display: none;
  }
  .container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(resources/reuben.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .icons .great {
    padding-right: 20px;
    color: rgb(223, 132, 132);
  }

  div .program {
    color: rgb(223, 132, 132);
  }
  .nameText .two {
    color: #fff;
  }
  .nameText span {
    color: rgb(223, 132, 132);
  }

  .icons {
    margin-top: 30px;
  }
  .logo {
    margin-right: 300px;
  }
  .logo p {
    color: #e4e1e1;
  }

  .logo span {
    color: rgb(223, 132, 132);
  }
}
